body { background-color: rgb(247, 132, 193);}

h1 {text-align: center;
    align-items: center;
    color: navy;
    background-color: rgb(223, 185, 250);
    border-radius: 5px;
    width: 350px;}
  

  
